header{
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 51, 98, 0.5), rgba(0, 131, 253, 0.5));
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    .header__inner_wrapper{
        width: var(--default_width);
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px 0;
        position: relative;
        height: 90px;

        .header__logo_block{
            align-items: center;
            column-gap: 15px;
            text-decoration: none;
            color: var(--default_white);
            position: absolute;
            left: 0;

            .header__logo_img{
                width: 50px;
                height: 50px;
            }

            .header__logo_text{
                margin: 0;
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: 1px;
                font-family: 'BabasNeueRegular', sans-serif;
                line-height: 120%;
            }
        }

        .header__nav_block{
            column-gap: 40px;
            position: absolute;

            .header__nav_link{
                text-decoration: none;
                color: var(--default_white);
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        .header__langs_block{
            column-gap: 10px;
            position: absolute;
            right: 0;

            .header__lang_flag{
                width: 38px;
                height: 24px;
            }
        }

        .header__hamburger_button{
            width: 30px;
            height: 20px;
            position: absolute;
            right: 0;
            justify-content: center;
            transition: all 0.5s ease-in;
            display: none;
            z-index: 11;

            span{
                width: 100%;
                height: 2px;
                background-color: var(--default_white);
                transition: inherit;

                &::after, &::before{
                    transition: inherit;
                    position: absolute;
                    top: 0;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: var(--default_white);
                }
            }

            span::after{
                top: unset;
                bottom: 0;
            }

            &.active{

                span{
                    &::before{
                        transform: rotateZ(24deg) translateX(10px);
                        width: 70%;
                    }

                    &::after{
                        transform: rotateZ(-24deg) translateX(10px);
                        width: 70%;
                    }
                }
            }
        }
    }

    .header__hamburger_menu{
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: var(--text_gray);
        top: 0;
        right: 0;
        justify-content: center;
        transition: all 0.5s ease-in;
        box-sizing: border-box;
        padding: 50px 0;

        .header__hamburger_menu_inner_wrapper{
            width: 70%;
            align-items: center;
            row-gap: 40px;

            .header__logo_block{
                align-items: center;
                column-gap: 15px;
                text-decoration: none;
                color: var(--default_white);

                .header__logo_img{
                    width: 50px;
                    height: 50px;
                }

                .header__logo_text{
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-family: 'BabasNeueRegular', sans-serif;
                    line-height: 120%;
                }
            }

            .header__nav_block{
                row-gap: 40px;

                .header__nav_link{
                    text-decoration: none;
                    color: var(--default_white);
                    font-size: 20px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            .header__langs_block{
                column-gap: 10px;
    
                .header__lang_flag{
                    width: 38px;
                    height: 24px;
                }
            }
        }

        &.active{
            left: 0%;
        }

    }

    @media(max-width: 1350px) {
        .header__inner_wrapper{

            .header__logo_block{

                .header__logo_text{
                    max-width: 79%;
                }
            }
        }
    }

    @media(max-width: 1149px){

        .header__inner_wrapper{

            .header__nav_block, .header__langs_block{
                display: none;
            }

            .header__hamburger_button{
                display: flex;
            }
        } 

        .header__hamburger_menu{
            display: flex;
            left: 100%;
        }
    }

    @media(max-width: 400px){
        .header__inner_wrapper{

            .header__logo_block{

                .header__logo_text{
                    max-width: 67%;
                    font-size: 18px;
                }
            }
        } 

        .header__hamburger_menu{
            .header__hamburger_menu_inner_wrapper{

                .header__logo_block{

                    .header__logo_text{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

footer{
    justify-content: center;
    background-color: var(--background_blue);
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;

    .footer__inner_wrapper{
        width: var(--default_width);
        align-items: center;
        justify-content: center;
        row-gap: 25px;

        .footer__logo_row{
            column-gap: 25px;
            justify-content: center;
            align-items: center;

            .footer__logo_img{
                width: 97px;
                height: 97px;
            }

            .footer__logo_text{
                margin: 0;
                text-transform: uppercase;
                font-size: 20px;
                color: var(--default_white);
                letter-spacing: 1.5px;
                font-family: 'BabasNeueLight', sans-serif;
                line-height: 120%;
                letter-spacing: 1px;
            }
        }

        .footer__nav_row{
            column-gap: 40px;
            justify-content: center;

            .footer__nav_link{
                color: var(--default_white);
                text-decoration: none;
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        .footer__contacts_row{
            column-gap: 60px;
            justify-content: center;

            .footer__key_value_wrapper{
                align-items: center;
                column-gap: 5px;

                .footer__key, .footer__value{
                    color: var(--default_white);
                    text-decoration: none;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
        }

        .footer__copyright_text{
            text-transform: uppercase;
            font-size: 16px;
            color: var(--default_white);
        }
    }

    @media(max-width: 650px){
        .footer__inner_wrapper{

            .footer__logo_row{
                flex-direction: column;
                text-align: center;
                row-gap: 10px;
            }

            .footer__nav_row{
                flex-direction: column;
                text-align: center;
                row-gap: 15px;
            }

            .footer__contacts_row{
                flex-direction: column;
                text-align: center;
                row-gap: 15px;
            }
        }
    }
}