main {
  align-items: center; }
  main .main__banner_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    justify-content: center; }
    main .main__banner_wrapper > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom; }
    main .main__banner_wrapper .main__upper_layer {
      position: absolute;
      top: 0;
      width: var(--default_width);
      height: 100%; }
      main .main__banner_wrapper .main__upper_layer .main__logo_wrapper_1 {
        position: absolute;
        top: 28%;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 2px;
        color: var(--banner_text_blue);
        background-color: rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        padding: 35px 20px;
        border-radius: 15px;
        text-transform: uppercase; }
      main .main__banner_wrapper .main__upper_layer .main__logo_wrapper_2 {
        position: absolute;
        align-items: center;
        top: 15%;
        right: 0;
        color: var(--default_white);
        font-size: 20px; }
  main section.flipcards {
    width: 100%;
    margin: 50px 0;
    justify-content: center; }
    main section.flipcards .flipcards__inner_wrapper {
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 40px;
      width: var(--default_width); }
      main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container {
        width: 700px;
        height: 460px;
        position: relative;
        transition: all 0.5s ease-in;
        -webkit-perspective: 1600px;
        perspective: 1600px;
        flex-shrink: 0;
        font-family: 'GilroyRegular', sans-serif;
        letter-spacing: 0.4px;
        line-height: 140%; }
        main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper {
          transition: inherit;
          width: 100%;
          height: 100%;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
          main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__front_side, main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side {
            position: absolute;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 15px; }
          main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__front_side .flipcards__flipcard_title {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 11;
            font-size: 30px;
            background: linear-gradient(rgba(0, 40, 141, 0.5), rgba(0, 122, 235, 0.5));
            color: var(--default_white);
            box-sizing: border-box;
            padding: 20px; }
          main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            justify-content: space-between; }
            main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side img {
              position: absolute;
              top: 0;
              left: 0;
              z-index: -2;
              filter: blur(3px); }
            main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side .flipcards__flipcard_title {
              width: 100%;
              font-size: 30px;
              color: var(--default_white);
              box-sizing: border-box;
              padding: 0 30px;
              margin: 30px 0 35px 0;
              font-family: 'GilroySemiBold';
              text-transform: uppercase; }
            main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side .flipcards__flipcard_description {
              width: 100%;
              font-size: 18px;
              color: var(--default_white);
              box-sizing: border-box;
              padding: 0 30px;
              justify-content: space-between;
              font-family: 'GilroyBold', sans-serif;
              line-height: 140%;
              letter-spacing: 0.4px; }
              main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side .flipcards__flipcard_description p {
                margin: 0; }
              main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side .flipcards__flipcard_description hr {
                width: 100%;
                border: none;
                background-color: white;
                height: 1px;
                margin: 10px 0; }
              main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side .flipcards__flipcard_description .bold {
                font-weight: bold;
                margin-bottom: 10px; }
            main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container .flipcards__flipcard_inner_wrapper .flipcards__back_side::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: linear-gradient(rgba(0, 40, 141, 0.5), rgba(0, 122, 235, 0.5));
              z-index: -1; }
        main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container:hover .flipcards__flipcard_inner_wrapper, main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container:hover .flipcards__flipcard_inner_wrapper .flipcards__back_side {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }
        main section.flipcards .flipcards__inner_wrapper .flipcards__flipcard_container img {
          width: 100%;
          height: 100%; }
  main section.about_us {
    margin: 50px 0;
    background-image: url("/img/about_us_background.png");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 0; }
    main section.about_us .about_us__inner_wrapper {
      width: var(--default_width);
      row-gap: 30px; }
      main section.about_us .about_us__inner_wrapper .about_us__title {
        color: var(--default_white);
        font-size: 50px;
        margin: 0; }
      main section.about_us .about_us__inner_wrapper .about_us__images_row {
        justify-content: space-between; }
        main section.about_us .about_us__inner_wrapper .about_us__images_row img {
          width: 450px;
          height: 300px; }
      main section.about_us .about_us__inner_wrapper .about_us__text_block {
        text-align: center;
        color: var(--default_white);
        font-size: 20px;
        font-family: 'GilroyRegular', sans-serif;
        line-height: 140%;
        letter-spacing: 0.4px; }
  main section.gallery {
    width: 100%;
    justify-content: center;
    margin: 50px 0; }
    main section.gallery .gallery__inner_wrapper {
      width: var(--default_width); }
      main section.gallery .gallery__inner_wrapper .gallery__title {
        font-size: 50px;
        color: var(--banner_text_blue);
        margin: 0 0 20px 0; }
      main section.gallery .gallery__inner_wrapper .gallery__images_row {
        flex-wrap: wrap;
        row-gap: 25px;
        justify-content: space-between; }
        main section.gallery .gallery__inner_wrapper .gallery__images_row .small {
          width: 335px;
          height: 225px;
          flex-shrink: 0; }
        main section.gallery .gallery__inner_wrapper .gallery__images_row .big {
          width: 455px;
          height: 300px;
          flex-shrink: 0; }
  main section.news {
    margin: 50px 0;
    width: 100%;
    justify-content: center; }
    main section.news .news__section_title {
      font-size: 50px;
      color: var(--banner_text_blue);
      margin: 0 0 20px 0; }
    main section.news .news__inner_wrapper {
      width: var(--default_width); }
      main section.news .news__inner_wrapper .news__news_row {
        justify-content: space-between; }
