header {
  background-color: var(--banner_text_blue); }

main.single_news_page {
  justify-content: center;
  margin: 140px 0 50px 0; }
  main.single_news_page .single_news_page__inner_wrapper {
    width: 1150px; }
    main.single_news_page .single_news_page__inner_wrapper .single_news_page__breadcrumbs_row {
      font-size: 16px;
      color: var(--text_black_default);
      font-family: 'GilroyRegular', sans-serif;
      column-gap: 5px;
      margin-bottom: 20px; }
    main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row {
      justify-content: space-between;
      width: 100%; }
      main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__news_content_column {
        width: 700px; }
        main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__news_content_column .single_news_page__image_wrapper {
          width: 100%;
          height: max-content; }
          main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__news_content_column .single_news_page__image_wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; }
        main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__news_content_column .single_news_page__news_text_block {
          box-sizing: border-box;
          padding: 10px; }
          main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__news_content_column .single_news_page__news_text_block .single_news_page__news_date {
            font-size: 14px;
            font-family: 'GilroyRegular',sans-serif;
            color: var(--banner_text_blue); }
          main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__news_content_column .single_news_page__news_text_block .single_news_page__news_title {
            font-family: 'GilroyRegular',sans-serif;
            font-size: 18px;
            color: var(--text_black_default);
            margin: 10px 0 25px 0; }
          main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__news_content_column .single_news_page__news_text_block .single_news_page__news_description {
            font-family: 'GilroyRegular',sans-serif;
            font-size: 16px;
            color: var(--text_black_default);
            text-align: justify; }
      main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__similar_news_column {
        width: 400px;
        row-gap: 20px;
        box-sizing: border-box;
        padding-left: 20px;
        border-left: 1px solid var(--text_black_default);
        height: max-content; }
        main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__similar_news_column .single_news_page__similar_news_block_title {
          font-size: 25px;
          font-family: 'GilroyRegular', sans-serif;
          color: var(--text_black_default);
          margin: 0; }
        main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__similar_news_column .single_news_page__similar_news_container {
          row-gap: 10px;
          position: relative;
          box-sizing: border-box;
          padding: 0 0 10px 0;
          text-decoration: none; }
          main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__similar_news_column .single_news_page__similar_news_container .single_news_page__similar_news_date {
            font-size: 14px;
            font-family: 'GilroyRegular', sans-serif;
            color: var(--text_gray); }
          main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__similar_news_column .single_news_page__similar_news_container .single_news_page__similar_news_title {
            font-size: 16px;
            font-family: 'GilroyRegular', sans-serif;
            color: var(--text_black_default);
            line-clamp: 2;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box; }
          main.single_news_page .single_news_page__inner_wrapper .single_news_page__page_content_row .single_news_page__similar_news_column .single_news_page__similar_news_container::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 85%;
            height: 1px;
            background-color: var(--text_black_default); }
